*{
    padding:0;
    margin:0;
    user-select: none;
    text-decoration: none;
}
:root{
    /*Color*/ 
    --head: #008cff;
    --below: #2C3333;
    --white: #ffffff;
    --black: #000000;

    --bebas: font-family: 'Bebas Neue', cursive;
    --ubuntu: font-family: 'Ubuntu', sans-serif;

    --mega: 155px;
    --big: 37px;
    --medium: 30px;
    --small: 25px;
    --mini: 20px;
}
#navbar {
    width:250px;
    height: 920px;
    background-color: #0073ff;
    border-right: 12px solid #00bfff;
}
#vicbg {
    background-color: #0007ff;
    height: 200px;
    width: 262px;
    position: absolute;
}
#vicbox {
    width: 150px;
    height: 140px;
    margin: 20px;
    left: 30px;
    top:3px;
    position: absolute;
    background-color: white;
    border-radius: 32px;
}
#vicimg {
    position: absolute;
    width:160px;
    margin: 3px;
}