*{
    padding:0;
    margin:0;
    user-select: none;
    text-decoration: none;
}
:root{
    /*Color*/ 
    --head: #008cff;
    --below: #2C3333;
    --white: #ffffff;
    --black: #000000;

    --bebas: font-family: 'Bebas Neue', cursive;
    --ubuntu: font-family: 'Ubuntu', sans-serif;

    --mega: 155px;
    --big: 37px;
    --medium: 30px;
    --small: 25px;
    --mini: 20px;
}
#navbar {
    width:250px;
    height: 100vh;
    background-color: #0073ff;
    border-right: 12px solid #00bfff;
    display: block;
    align-items: center;
}
#vicbg {
    background-color: #0007ff;
    height: 200px;
    width: 262px;
    position: absolute;
}
#vicbox {
    width: 150px;
    height: 140px;
    margin: 20px;
    left: 30px;
    top:3px;
    position: absolute;
    background-color: white;
    border-radius: 32px;
}
#vicimg {
    position: absolute;
    width:160px;
    margin: 3px;
}
#cao {
    top:10px;
    left:20px;
    font-size: 35px;
    position: absolute;
    font-family: 'Roboto Slab', serif;

}
#menu {
    align-items: center;
    justify-content: center;
    display: block;
    left:10px;
    position: absolute;
    top:250px;
}
.menuT {
    margin:30px;
    color: white;
    font-size:38px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.icon {
    color: white;
    font-size: 42px;
}
.menuT:hover {
    border-radius: 13px;
    transform: scale(1.15);
}
.menuT:active {
    transform: scale(0.99);
}
#projectbox {
    width:700px;
    height:700px;
    background-color: #17138c;
    position: absolute;
    left: 720px;
    top:100px;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    display: block;
}
#projecttext {
    top: 200px;
    left: 360px;
    position: absolute;
    font-family: 'Koulen', cursive;
    font-size: 75px;
    font-weight: bold;
}
#projecttext2 {
    color: #4800ff;
}
#projectbox2 {
   position: absolute;
   align-items: center;
   margin:20px;
   background-color: white;
   width: 650; 
   height: 210px;
   border-radius: 23px;
   transition: all 0.2s ease-in-out;
}
#projectbox3 {
    position: absolute;
    align-items: center;
    margin: 20px;
    background-color: white;
    width: 650px;
    height: 270px;
    border-radius: 23px;
    top:230px;
    transition: all 0.2s ease-in-out;
}
.project {
    margin: 23px;
    color: black;
    font-family: 'Koulen', cursive;
    font-size: 34px;
}
#projectbox2:hover {
    transform: scale(1.01);
}
#projectbox3:hover {
    transform: scale(1.01);
}
#footer {
    background-color: #0044ff;
    height: 110px;
    width: 100%;
    bottom: 0;
}
#make {
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
    color: white;
    position: absolute;
    margin:20px;
    align-items: center;
    left:500px
}
#cr {
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
    color: white;
    position: absolute;
    margin-top: 60px;
    left:360px;
}
@media screen and (max-width: 479px) {
    #navbar {
        width:226.2vh;
        height:200px;
        display: flex;
    }
    #menu {
        display: flex;
        top:10px;
        left:500px;
    }
    #footer {
        bottom:0;
        width: 227.9vh;
        position: fixed;
        display: flex;
        align-items: center;
    }
    #make {
        display: flex;
        margin:auto;
    }
    #cr {
        margin: auto;
        top:70px;
    }
    .menuT {
        font-size: 50px;
    }
    #projecttext {
        top: 700px;
        left:90px;
    }
    .project {
        font-size: 70px;
    }
    #projectbox {
        top:400px;
        left:400px;
        width:1000px;
        height:1420px;
    }
    #projectbox2 {
        width: 950px;
        height: 530px;
    }
    #projectbox3 {
        margin-top: 350px;
        width: 950px;
        height:800px;
    }
}